@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #161513;
}
section {
  margin: 2rem;
}

::selection {
  background-color: #e7957ca8;
  color: white;
}

/* Start header */
header {
  padding: 1rem;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.nav-bar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.nav-bar > li > a {
  color: #c5c5c5;
  text-decoration: none;
  font-size: medium;
}

.logo {
  color: #ffffff;
}

/* End header */

/* Start info section */

.my-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: #ffffff;
}

.my-img > img {
  width: 250px;
  border-radius: 50%;
  background: linear-gradient(
    120deg,
    rgba(255, 134, 96, 1) 0%,
    rgba(154, 51, 255, 1) 100%
  );
}

.title > h1 {
  font-size: large;
}
.about-me {
  color: #c5c5c5;
  font-size: x-small;
}

#about-me,
.nav-bar > li > a:hover {
  background: linear-gradient(
    120deg,
    rgba(255, 134, 96, 1) 0%,
    rgba(154, 51, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.action-buttons > ul {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 13px;
  color: #ff8660;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff8660, #9a33ff) 1;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background: linear-gradient(
    120deg,
    rgba(255, 134, 96, 1) 0%,
    rgba(154, 51, 255, 1) 100%
  );
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 4;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button:active {
  scale: 1;
}
.button:hover {
  box-shadow: 1px 1px 15px 5px #363636;
}

.experince-with > h4 {
  color: #c5c5c5;
}
.experince-with {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.desc-and-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* End info section */

/* Start projects section */

.projects {
  text-align: center;
}

.all-project {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.icon-exp {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.icon-exp > img {
  transition: 0.4s;
}
.icon-exp > img:hover {
  transform: rotate(20deg);
}
.project {
  width: 20rem;
  background-color: #2a2a2a;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.project > img {
  width: 100%;
  height: 80%;
}

.info-project {
  text-align: left;
  padding: 1rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-project > p {
  color: #c5c5c5;
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
}

.projects > h2 {
  background: linear-gradient(to top, #d5491d 0%, #ff8660 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project:hover {
  box-shadow: 1px 1px 10px 1px #363636;
  transform: translateY(-10px);
}

/* End projects section */

/* Start skill section */

.all-Skill {
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  gap: 1rem;
}

.skills > h2 {
  text-align: center;
  background: linear-gradient(to bottom, #5badff 0%, #1373d1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill {
  text-align: left;
  padding: 1em;
  margin-top: 1em;
  background-color: #2a2a2a;
  color: #ffffff;
  border-radius: 10px;
  width: 18em;
}

.skill:hover {
  background-color: #363636;
}

.p-exp {
  margin-top: 0.5em;
  font-size: small;
  color: #8491a0;
}

.title-exp {
  color: #2e89e4;
}

/* Start skill section */

/* Start footer section */
footer {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.contact {
  color: #ffffff;
  font-size: 1.2rem;
}

.p-contact {
  color: #c5c5c5;
  font-size: 0.7rem;
  text-align: center;
}

.icons {
  width: 20vh;
  display: flex;
  justify-content: space-between;
}

.gmail {
  color: #c5c5c5;
  font-size: 0.8rem;
}

.icons > a > img {
  width: 15px;
  transition: 0.3s;
}
.icons > a > img:hover {
  transform: translateY(-3px);
}
.gmail {
  display: flex;
  gap: 0.5rem;
}

/* End footer section */

/* Start media Queries */

@media (min-width: 768px) {
  header {
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .all-Skill {
    grid-template-columns: repeat(2, auto);
  }
  .all-project {
    flex-direction: row;
    justify-content: center;
  }
  .button {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  header {
    padding-left: 7rem;
    padding-right: 8rem;
  }
  .nav-bar > li > a {
    color: #ffffff;
    text-decoration: none;
    font-size: large;
  }
  .logo {
    font-size: x-large;
  }

  .my-info {
    flex-direction: row;
    justify-content: space-around;
  }
  .desc-and-actions {
    margin: 3rem 5rem 0 0;
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .img-and-title {
    margin-left: 5rem;
    text-align: left;
    width: 35rem;
  }
  .icon-exp {
    justify-content: center;
  }
  .title > h1 {
    font-size: x-large;
  }
  .about-me {
    color: #c5c5c5;
    font-size: medium;
  }

  .my-img > img {
    width: 300px;
  }
  .projects {
    margin-top: 7rem;
  }
  .project {
    width: 30rem;
    background-color: #2a2a2a;
    border-radius: 18px;
    overflow: hidden;
    cursor: pointer;
  }
  .all-project {
    margin-top: 3rem;
    gap: 5rem;
  }
  .projects > h2,
  .skills > h2 {
    font-size: xx-large;
  }
  .all-Skill {
    margin-top: 2rem;
    grid-template-columns: repeat(3, auto);
    gap: 5rem;
  }
  .skill {
    width: 20em;
    height: 10rem;
  }
  .p-exp {
    margin-top: 0.5em;
    font-size: medium;
    color: #8491a0;
  }
  .title-exp {
    font-size: large;
  }

  .skills {
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
  footer {
    padding-left: 7rem;
    padding-right: 8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  .p-contact {
    text-align: left;
    font-size: small;
  }
  .contact {
    font-size: x-large;
  }
  .gmail {
    font-size: medium;
  }
  .icons > a > img {
    width: 20px;
  }
  .button {
    font-size: 18px;
  }
}

/* End media Queries */
